body { 
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    line-height: 1.6;
    color: rgb(29, 29, 29);
}

h1, h2, h3 {
    margin: 0;
}

.header {
    background-color: #392c53;
    padding-top: 30px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    font-family: 'PT Sans', sans-serif;
    font-size: 37px;
    color: #FFF;
}

.nav_link {
    font-size: 24px;
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    color: white;
    text-decoration: none;
    transition: color .1s linear;
}

.nav_link:hover {
    color: #d8c4ff;
}

.intro {
    height: 80vh;
    background: url(img/intro.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro_text {
    font-family: 'PT Sans', sans-serif;
    font-size: 37px;
    color: rgb(0, 0, 0);
}

.section {
    padding: 80px 0;
    background-color: #392c53;
}

.section_header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 30px;
    text-align: center;
}

.section_subtitle {
    font-size: 24px;
    color: #FFF;
}


.slider{
	width: 640px;
	position: relative;
	padding-top: 480px;
	margin: 90px auto;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}

.slider>img{
	position: absolute;
	left: 0; top: 0;
	transition: all 0.5s;
}

.slider input[name='slide_switch'] {
	display: none;
}

.slider label {
	margin: 18px 0 0 42px;
	border: 3px solid #999;
	float: left;
	cursor: pointer;
	transition: all 0.5s;
	opacity: 0.6;
}

.slider label img{
	display: block;
}

.slider input[name='slide_switch']:checked+label {
	border-color: #666;
	opacity: 1;
}

.slider input[name='slide_switch'] ~ img {
	opacity: 0;
	transform: scale(1.1);
}

.slider input[name='slide_switch']:checked+label+img {
	opacity: 1;
	transform: scale(1);
}